div.sponsorBox {
	border: 1px solid #DDD;
	width: 100%;
	margin-bottom: 1em;
	//padding: 5px;
	}

div.sponsorBox img {
	width: 96%;
	display: block; 
	margin: 2%;
	}

div.sponsorBox.allSponsors img {
	width: 46%;
	float: left;
	}
div.sponsorBox.allSponsors {
	float: left;
	}

div.sponsorBox p {
	width: 96%; 
	margin: 2%;
	font-size: 0.8em;
	text-align: justify;
	}