div#tsvEventBox {
}

a.tsvevent,
a:hover.tsvevent *,
a:focus.tsvevent * {
	color: rgb(51, 51, 51);
	text-decoration: none;
}

a:hover.tsvevent div.topbanner *,
a:focus.tsvevent div.topbanner * {
	color: #fff;
	text-decoration: underline;
}

div.mod_tsvevent {
	margin-bottom: 1em;
}

div.mod_tsvevent div.topbanner {
	/* remove colors from module -> template*/
	background-color: #3771c8;
	color: #fff;
}

div.mod_tsvevent span {
	/* remove colors from module -> template */
	display: block;
}

div.mod_tsvevent span:first-child::before {
	content: '';
	width: 30px;
	height: 30px;
	margin: 5px 10px -20px 5px;
	margin-bottom: -20px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url("../images/pictograms_65px.png");
	background-size: 150px 30px;
}

div.mod_tsvevent span.date,
div.mod_tsvevent span.time {
	padding: 0 0 0.25em 45px;
	display: block;
	font-weight: bold;
}
div.mod_tsvevent span.time {
	font-weight: normal;
}

div.mod_tsvevent span.tu:first-child::before {
	background-position: 0 0;
}
div.mod_tsvevent span.fb:first-child::before {
	background-position: -30px 0;
}
div.mod_tsvevent span.hb:first-child::before {
	background-position: -60px 0;
}
div.mod_tsvevent span.la:first-child::before {
	background-position: -90px 0;
}
div.mod_tsvevent span.vb:first-child::before {
	background-position: -120px 0;
}

div.mod_tsvevent span.tsv:first-child::before {
	background-image: url(../images/logo-tsv.png);
	background-size: 30px;
}

div.mod_tsvevent h4 {
	padding: 0.5em 5px;
	margin: 0;
}

div.mod_tsvevent p {
	padding: 0 5px 0.25em;
}

div.mod_tsvevent.vorbei {
	color: #aaa;
}

div.mod_tsvevent.vorbei div.topbanner {
	opacity: 0.7;
}

div.mod_tsvevent.vorbei > span {
	background: rgb(55, 113, 200); /* Fall-back for browsers that don't support rgba */
	background: rgba(55, 113, 200, 0.5);
}

div.mod_tsvevent.vorbei > span::before {
	opacity: 0.5;
}
